/* Body */

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #444;
}

#portfolio-body {
	height: 100%;
}

/* Navbar */

.logo {
	padding: 0 !important;
	height: 128px;
	position: relative;
}

#home-button-container-container {
	width: 100%;
	height: 100%;
}

#home-button-container {
	display: block;
	margin: 0 auto;
}

#home-button {
	font-size: 1.7rem;
}

#home-button:hover, #portfolio-button:hover, #education-button:hover, #skills-button:hover, #about-button:hover {
	cursor: pointer;
}

#header {
	height: 128px;
	padding-left: 240px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 1.7rem;
	z-index: 100;
}

#header-title {
	padding: 50px;
	color: #444;
}

#header-title-short {
	display: none;
	padding: 50px;
	color: #444;
}

/* Views - General */

@media screen and (max-width: 500px) { 
	.portfolio-item {
		width: 300px !important;
		height: 225px !important;
	}

	.portfolio-item-title-text {
		width: 50%;
	}

	#header-title {
		display: none;
	}

	#header-title-short {
		display: block;
	}
}

@media screen and (max-width: 992px) {
	#header {
		height: 64px;
		padding-left: 0px;
	}

	#view-body {
		padding: 64px 0px 50px 0px !important;
	}

	.button-collapse {
	    margin-left: 10px;
	    z-index: 101 !important;
	}

	.button-collapse i {
		font-size: 1.7rem !important;
	}

	.button-collapse i:hover {
		cursor: pointer;
	}

	#portfolio-view {
		padding-top: 0px !important;
	}
}

#view-body {
	position: absolute;
    padding: 128px 0px 50px 240px;
    top: 0;
    width: 100%;
    height: 100%;
}

#portfolio-view, #education-view, #skills-view, #about-view {
	height: 100%;
	width: 100%;
	padding: 50px;
	position: relative;
	display: none;
}

.subheading {
	font-size: 20px;
}

.content {
	margin-left: 20px;
}

/* Home View */


/* Portfolio View */

.portfolio-container {
	width: 90%;
	height: 80%;
	margin: 20px auto;
	position: absolute;
	left: 0;
	right: 0;
}

.portfolio-item {
	border-radius: 3px;
	width: 400px;
	height: 300px;
	margin: 2%;
	position: relative;
	float: left;

	background-color: #cfd8dc;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.portfolio-item-image {
	height: 80%;
}

.portfolio-item-image img {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 100%;
	height: 100%;
}

.portfolio-item-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 5%;
	min-height: 20px;
	height: 7%;
}

.portfolio-item-title-text {
	float: left;
}

.portfolio-item-title-icons {
	float: right;
}

.portfolio-item-title-icons i {
	color: #444;
	margin-left: 15px;
}

/* Utility */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}